Language: Cpp
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros: None
AlignEscapedNewlines: DontAlign
AlignTrailingComments:
  Kind: Never
AllowAllParametersOfDeclarationOnNextLine: false
BasedOnStyle: LLVM
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
ColumnLimit: 80
ExperimentalAutoDetectBinPacking: false
IndentWidth: 4
LineEnding: CRLF
PointerAlignment: Left
QualifierAlignment: Leave
ReferenceAlignment: Right
ReflowComments: false
SeparateDefinitionBlocks: Always
SortIncludes: Never
SortUsingDeclarations: Never
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceAroundPointerQualifiers: Before
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeParens: false
SpaceBeforeRangeBasedForLoopColon: false
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
# SpacesInLineCommentPrefix:
#   Minimum: 1
#   Maximum: -1
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: Auto
UseTab: AlignWithSpaces
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
InsertBraces: false
InsertNewlineAtEOF: true